package migrations

import (
	"github.com/go-gormigrate/gormigrate/v2"
	"gorm.io/gorm"
)

func init() {
	m := &gormigrate.Migration{}

	m.ID = "{{ .ID }}_{{ .Name }}"

	m.Migrate = func(db *gorm.DB) error {
		if err := db.Migrator().CreateTable(/** ... */); err != nil {
			LogError(m.ID, err)
			return err
		}

		LogSuccess(m.ID)
		return nil
	}

	m.Rollback = func(db *gorm.DB) error {
		if err := db.Migrator().DropTable(/** ... */); err != nil {
			LogError(m.ID, err)
			return err
		}

		LogSuccess(m.ID, true)
		return nil
	}

	AddMigration(m)
}
